
@{
    ViewBag.Title = "LoginFailed";
}

<h2>LoginFailed</h2>

<body>
    Login Failed
    <br />
    Sad times, friend.
    <br />
    @Html.ActionLink("Go Back To Login Page", "Index")
</body>
